.header-label {
  font-family: "Inter";
  font-style: normal;
  font-size: 2.5rem;    // 40px
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle-label {
  font-family: "Inter", sans-serif;
  font-size: 1.10rem;
  font-weight: 400;
  color: #bbbbbb;
  letter-spacing: 0.2px;
  margin-bottom: 0.75rem;
  text-align: center;
}